In [1]:
import os
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline
pd.set_option('display.max_columns', None)

# Nahrání dat

In [2]:
def readFilesFromDirectory(dirName):
    fileNames = []
    pandasNames = []
    with os.scandir(dirName) as entries:
        for entry in entries:
            if entry.name[0] != '.':
                fileNames.append(entry.name)
                name = entry.name[0:-4].split('_')
                pandasNames.append(name[-2] + '_' + name[-1])
    return fileNames, pandasNames

In [3]:
fileNames, pandasNames = readFilesFromDirectory('data')

In [4]:
fileNames

['dm_vysledky_studentu_v_predmetech_mv_prihlaska_dim.csv',
 'dm_vysledky_studentu_v_predmetech_mv_klasifikace_fact.csv',
 'dm_vysledky_studentu_v_predmetech_mv_predmet_dim.csv',
 'dm_vysledky_studentu_szzk_mv_zaverecne_prace_fact.csv',
 'dm_vysledky_studentu_szzk_mv_szzk_dim.csv',
 'dm_vysledky_studentu_v_predmetech_mv_student_dim.csv',
 'dm_vysledky_studentu_v_predmetech_mv_studium_dim.csv',
 'dm_vysledky_studentu_v_predmetech_mv_semestr_dim.csv',
 'dm_vysledky_studentu_szzk_mv_zaverecne_prace_dilci_hodnoceni_dim.csv']

In [5]:
pandasNames

['prihlaska_dim',
 'klasifikace_fact',
 'predmet_dim',
 'prace_fact',
 'szzk_dim',
 'student_dim',
 'studium_dim',
 'semestr_dim',
 'hodnoceni_dim']

In [6]:
path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_prihlaska_dim.csv'])
prihlaska_dim = pd.read_csv(path_file, sep=";") 

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_klasifikace_fact.csv'])
klasifikace_fact = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_predmet_dim.csv'])
predmet_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_szzk_mv_zaverecne_prace_fact.csv'])
prace_fact = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_szzk_mv_szzk_dim.csv'])
szzk_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_student_dim.csv'])
student_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_studium_dim.csv'])
studium_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_v_predmetech_mv_semestr_dim.csv'])
semestr_dim = pd.read_csv(path_file, sep=";")

path_file = os.sep.join(['data', 'dm_vysledky_studentu_szzk_mv_zaverecne_prace_dilci_hodnoceni_dim.csv'])
hodnoceni_dim = pd.read_csv(path_file, sep=";")

# Informace o datasetech

### prihlaska_dim

In [7]:
prihlaska_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3599 entries, 0 to 3598
Data columns (total 97 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   cislo_prihlasky              3599 non-null   int64
 1   odkud_uchazec_prihlasen_kod  1154 non-null   float64
 2   prihlaska_kod                3599 non-null   int64
 3   studium_id                   3599 non-null   int64
 4   rozhodnuti_kod               3594 non-null   float64
 5   obor_ss_kod                  613 non-null    object
 6   ss_izo                       892 non-null    float64
 7   ss_typ                       866 non-null    float64
 8   ss_predmet1                  29 non-null     object
 9   ss_predmet2                  27 non-null     object
 10  ss_predmet3                  1 non-null      object
 11  ss_predmet4                  1 non-null      object
 12  ss_predmet5                  0 non-null      float64
 13  ss_predmet1_znamky           16 non-null     float64
 14  ss_predmet2_znamky           14 non-null     float64
 15  ss_predmet3_znamky           1 non-null      float64
 16  ss_predmet4_znamky           1 non-null      float64
 17  ss_predmet5_znamky           0 non-null      float64
 18  ss_predmet1_prumer           8 non-null      float64
 19  ss_predmet2_prumer           8 non-null      float64
 20  ss_predmet3_prumer           2 non-null      float64
 21  ss_predmet4_prumer           2 non-null      float64
 22  ss_predmet5_prumer           0 non-null      float64
 23  ss_prumer_prumeru            2 non-null      float64
 24  ss_prumer_znamek             16 non-null     float64
 25  bakalar_prumer               8 non-null      float64
 26  predchozi_studium            633 non-null    object
 27  doplnujici_udaj1             0 non-null      float64
 28  doplnujici_udaj2             0 non-null      float64
 29  doplnujici_udaj3             0 non-null      float64
 30  doplnujici_udaj4             22 non-null     object
 31  typ_prihlasky                3599 non-null   object
 32  maturita_znamky              0 non-null      float64
 33  maturita_prumer              0 non-null      float64
 34  maturita_predmety            1 non-null      object
 35  maturita_rok                 1629 non-null   float64
 36  cislo_mistnosti_pz           0 non-null      float64
 37  datum_pz                     0 non-null      float64
 38  prominuti_pz                 27 non-null     float64
 39  hodnoceni_pz                 2136 non-null   float64
 40  hodnoceni_pz_cast1           0 non-null      float64
 41  hodnoceni_pz_cast2           268 non-null    float64
 42  hodnoceni_pz_cast3           1008 non-null   float64
 43  hodnoceni_pz_cast4           382 non-null    float64
 44  hodnoceni_pz_cast5           1008 non-null   float64
 45  hodnoceni_pz_cast6           63 non-null     float64
 46  hodnoceni_pz_cast7           502 non-null    float64
 47  hodnoceni_pz_cast8           215 non-null    float64
 48  hodnoceni_pz_cast9           0 non-null      float64
 49  hodnoceni_pz_cast10          0 non-null      float64
 50  hodnoceni_pz_cast11          0 non-null      float64
 51  hodnoceni_pz_cast12          0 non-null      float64
 52  zapsal_ke_studiu             1031 non-null   float64
 53  status                       0 non-null      float64
 54  stipendium                   65 non-null     object
 55  stipendium_cizi              0 non-null      float64
 56  kolej_zadost                 52 non-null     float64
 57  termin                       0 non-null      float64
 58  prechodne                    19 non-null     float64
 59  studijni_skupina             865 non-null    float64
 60  nove_prijaty                 2333 non-null   object
 61  navazujici_stud_program      573 non-null    object
 62  trvaly_pobyt_v_cr            3145 non-null   object
 63  financovani                  3599 non-null   int64
 64  stupen_predchoziho_vzdelani  3463 non-null   object
 65  pz1_datum                    0 non-null      float64
 66  pz1_cas                      0 non-null      float64
 67  pz1_mistnost                 0 non-null      float64
 68  pz2_datum                    0 non-null      float64
 69  pz2_cas                      0 non-null      float64
 70  pz2_mistnost                 0 non-null      float64
 71  pz3_datum                    0 non-null      float64
 72  pz3_cas                      0 non-null      float64
 73  pz3_mistnost                 0 non-null      float64
 74  pisemny_test                 0 non-null      float64
 75  anketa_odkud_kod             38 non-null     float64
 76  anketa_odkud_poznamka        4 non-null      object
 77  cislo_uchazece               3438 non-null   float64
 78  scio_test                    468 non-null    object
 79  olympiady                    74 non-null     object
 80  postizeni_kod                16 non-null     float64
 81  postizeni_poznamka           2 non-null      object
 82  placeno_r                    0 non-null      float64
 83  placeno_poznamka             0 non-null      float64
 84  placeno_mail                 0 non-null      float64
 85  staz_stat                    20 non-null     float64
 86  staz_poznamka                0 non-null      float64
 87  maturita_uroven              0 non-null      float64
 88  zajem                        0 non-null      float64
 89  zprava_pro_uchazece          0 non-null      float64
 90  priorita                     0 non-null      float64
 91  datum_registrace             3435 non-null   object
 92  datum_rozhodnuti             3438 non-null   object
 93  misto_kod                    1975 non-null   object
 94  okres_kod                    1820 non-null   float64
 95  zeme_kod                     1820 non-null   float64
 96  psc                          1920 non-null   object
dtypes: float64(71), int64(4), object(22)
memory usage: 2.7+ MB

In [8]:
prihlaska_dim.loc[:, 'financovani'].dropna()

0        1
1        1
2        1
3        1
4        1
        ..
3594    69
3595    69
3596     6
3597    51
3598    69
Name: financovani, Length: 3599, dtype: int64

In [9]:
prihlaska_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3599 entries, 0 to 3598
Data columns (total 97 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   cislo_prihlasky              3599 non-null   int64
 1   odkud_uchazec_prihlasen_kod  1154 non-null   float64
 2   prihlaska_kod                3599 non-null   int64
 3   studium_id                   3599 non-null   int64
 4   rozhodnuti_kod               3594 non-null   float64
 5   obor_ss_kod                  613 non-null    object
 6   ss_izo                       892 non-null    float64
 7   ss_typ                       866 non-null    float64
 8   ss_predmet1                  29 non-null     object
 9   ss_predmet2                  27 non-null     object
 10  ss_predmet3                  1 non-null      object
 11  ss_predmet4                  1 non-null      object
 12  ss_predmet5                  0 non-null      float64
 13  ss_predmet1_znamky           16 non-null     float64
 14  ss_predmet2_znamky           14 non-null     float64
 15  ss_predmet3_znamky           1 non-null      float64
 16  ss_predmet4_znamky           1 non-null      float64
 17  ss_predmet5_znamky           0 non-null      float64
 18  ss_predmet1_prumer           8 non-null      float64
 19  ss_predmet2_prumer           8 non-null      float64
 20  ss_predmet3_prumer           2 non-null      float64
 21  ss_predmet4_prumer           2 non-null      float64
 22  ss_predmet5_prumer           0 non-null      float64
 23  ss_prumer_prumeru            2 non-null      float64
 24  ss_prumer_znamek             16 non-null     float64
 25  bakalar_prumer               8 non-null      float64
 26  predchozi_studium            633 non-null    object
 27  doplnujici_udaj1             0 non-null      float64
 28  doplnujici_udaj2             0 non-null      float64
 29  doplnujici_udaj3             0 non-null      float64
 30  doplnujici_udaj4             22 non-null     object
 31  typ_prihlasky                3599 non-null   object
 32  maturita_znamky              0 non-null      float64
 33  maturita_prumer              0 non-null      float64
 34  maturita_predmety            1 non-null      object
 35  maturita_rok                 1629 non-null   float64
 36  cislo_mistnosti_pz           0 non-null      float64
 37  datum_pz                     0 non-null      float64
 38  prominuti_pz                 27 non-null     float64
 39  hodnoceni_pz                 2136 non-null   float64
 40  hodnoceni_pz_cast1           0 non-null      float64
 41  hodnoceni_pz_cast2           268 non-null    float64
 42  hodnoceni_pz_cast3           1008 non-null   float64
 43  hodnoceni_pz_cast4           382 non-null    float64
 44  hodnoceni_pz_cast5           1008 non-null   float64
 45  hodnoceni_pz_cast6           63 non-null     float64
 46  hodnoceni_pz_cast7           502 non-null    float64
 47  hodnoceni_pz_cast8           215 non-null    float64
 48  hodnoceni_pz_cast9           0 non-null      float64
 49  hodnoceni_pz_cast10          0 non-null      float64
 50  hodnoceni_pz_cast11          0 non-null      float64
 51  hodnoceni_pz_cast12          0 non-null      float64
 52  zapsal_ke_studiu             1031 non-null   float64
 53  status                       0 non-null      float64
 54  stipendium                   65 non-null     object
 55  stipendium_cizi              0 non-null      float64
 56  kolej_zadost                 52 non-null     float64
 57  termin                       0 non-null      float64
 58  prechodne                    19 non-null     float64
 59  studijni_skupina             865 non-null    float64
 60  nove_prijaty                 2333 non-null   object
 61  navazujici_stud_program      573 non-null    object
 62  trvaly_pobyt_v_cr            3145 non-null   object
 63  financovani                  3599 non-null   int64
 64  stupen_predchoziho_vzdelani  3463 non-null   object
 65  pz1_datum                    0 non-null      float64
 66  pz1_cas                      0 non-null      float64
 67  pz1_mistnost                 0 non-null      float64
 68  pz2_datum                    0 non-null      float64
 69  pz2_cas                      0 non-null      float64
 70  pz2_mistnost                 0 non-null      float64
 71  pz3_datum                    0 non-null      float64
 72  pz3_cas                      0 non-null      float64
 73  pz3_mistnost                 0 non-null      float64
 74  pisemny_test                 0 non-null      float64
 75  anketa_odkud_kod             38 non-null     float64
 76  anketa_odkud_poznamka        4 non-null      object
 77  cislo_uchazece               3438 non-null   float64
 78  scio_test                    468 non-null    object
 79  olympiady                    74 non-null     object
 80  postizeni_kod                16 non-null     float64
 81  postizeni_poznamka           2 non-null      object
 82  placeno_r                    0 non-null      float64
 83  placeno_poznamka             0 non-null      float64
 84  placeno_mail                 0 non-null      float64
 85  staz_stat                    20 non-null     float64
 86  staz_poznamka                0 non-null      float64
 87  maturita_uroven              0 non-null      float64
 88  zajem                        0 non-null      float64
 89  zprava_pro_uchazece          0 non-null      float64
 90  priorita                     0 non-null      float64
 91  datum_registrace             3435 non-null   object
 92  datum_rozhodnuti             3438 non-null   object
 93  misto_kod                    1975 non-null   object
 94  okres_kod                    1820 non-null   float64
 95  zeme_kod                     1820 non-null   float64
 96  psc                          1920 non-null   object
dtypes: float64(71), int64(4), object(22)
memory usage: 2.7+ MB

In [10]:
prihlaska_dim_o = prihlaska_dim.copy(deep=True)
prihlaska_dim = prihlaska_dim.loc[:, ['cislo_prihlasky', 'odkud_uchazec_prihlasen_kod', 'prihlaska_kod', 'studium_id', 'rozhodnuti_kod', 'obor_ss_kod', 'ss_izo', 'ss_typ', 'predchozi_studium', 'maturita_rok', 'hodnoceni_pz', 'trvaly_pobyt_v_cr', 'financovani', 'stupen_predchoziho_vzdelani', 'cislo_uchazece', 'scio_test', 'olympiady', 'postizeni_kod', 'datum_registrace', 'misto_kod', 'okres_kod', 'zeme_kod', 'psc']]

In [11]:
prihlaska_dim

,cislo_prihlasky,odkud_uchazec_prihlasen_kod,prihlaska_kod,studium_id,rozhodnuti_kod,obor_ss_kod,ss_izo,ss_typ,predchozi_studium,maturita_rok,hodnoceni_pz,trvaly_pobyt_v_cr,financovani,stupen_predchoziho_vzdelani,cislo_uchazece,scio_test,olympiady,postizeni_kod,datum_registrace,misto_kod,okres_kod,zeme_kod,psc
0,2,NaN,2788685710,1754706,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,2009-09-08,Česká Lípa,3501.0,3501.0,47001
1,3,NaN,7392860610,1754806,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,2009-09-08,Doksy,3203.0,3203.0,27364
2,4,NaN,5222013410,1754906,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,2009-09-08,Husinec,3209.0,3209.0,25068
3,5,NaN,1489038810,1755006,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,2009-09-08,Mikulášovice,3502.0,3502.0,40779
4,6,NaN,7970815610,1755106,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,2009-09-08,Ivančice,3703.0,3703.0,66491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3594,2354,NaN,9774758712,18653606,13.0,NaN,NaN,NaN,NaN,2018.0,0.0,A,69,K,2983607.0,NaN,NaN,NaN,2020-09-24,Praha,3100.0,3100.0,14900
3595,2355,NaN,1580023012,18668306,13.0,NaN,NaN,NaN,NaN,NaN,0.0,A,69,R,2984674.0,NaN,NaN,NaN,2020-09-29,Praha,3100.0,3100.0,14300
3596,2829,NaN,4603991912,18683206,10.0,NaN,NaN,NaN,NaN,NaN,0.0,N,6,K,2924779.0,NaN,NaN,NaN,2020-04-21,Prishtina,7777.0,7777.0,NaN
3597,2358,NaN,7430312812,18688006,13.0,NaN,NaN,NaN,NaN,NaN,NaN,N,51,R,2986302.0,NaN,NaN,NaN,2020-10-05,NaN,NaN,NaN,NaN
3598,2359,NaN,1277700212,18688106,13.0,NaN,NaN,NaN,NaN,2015.0,0.0,A,69,K,2986313.0,NaN,NaN,NaN,2020-10-05,Týnec nad Sázavou,3201.0,3201.0,25741

### klasifikace_fact

In [12]:
klasifikace_fact

,semestr_id,predmet_id,studium_id,zapocteno,zakonceno,znamka,poradi_zapisu
0,B202,4417206,17583006,NaN,1.0,NaN,1
1,B202,4417206,16990806,NaN,1.0,NaN,1
2,B202,4417206,17201506,NaN,1.0,NaN,1
3,B202,4417206,16964906,NaN,1.0,NaN,1
4,B202,4417206,16964806,NaN,1.0,NaN,1
...,...,...,...,...,...,...,...
280627,B211,6813906,17891606,NaN,NaN,NaN,1
280628,B211,6813906,19158306,NaN,NaN,NaN,1
280629,B211,6813906,19157106,NaN,NaN,NaN,1
280630,B211,6813906,17892406,NaN,NaN,NaN,1
280631,B211,6813906,18529506,NaN,NaN,NaN,1

In [13]:
klasifikace_fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280632 entries, 0 to 280631
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   semestr_id     280632 non-null  object
 1   predmet_id     280632 non-null  int64
 2   studium_id     280632 non-null  int64
 3   zapocteno      193675 non-null  object
 4   zakonceno      179228 non-null  float64
 5   znamka         175217 non-null  float64
 6   poradi_zapisu  280632 non-null  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 15.0+ MB

In [14]:
klasifikace_fact['semestr_id'].unique()

array(['B202', 'B201', 'B192', 'B191', 'B182', 'B181', 'B172', 'B171',
       'B162', 'B161', 'B152', 'B151', 'B142', 'A000', 'B211', 'B141',
       'B131', 'B122', 'B132', 'B121', 'B102', 'B111', 'B112', 'B101',
       'B091', 'B092'], dtype=object)

In [15]:
klasifikace_fact_o = klasifikace_fact.copy(deep=True)
klasifikace_fact = klasifikace_fact.loc[:, :]

In [16]:
klasifikace_fact

,semestr_id,predmet_id,studium_id,zapocteno,zakonceno,znamka,poradi_zapisu
0,B202,4417206,17583006,NaN,1.0,NaN,1
1,B202,4417206,16990806,NaN,1.0,NaN,1
2,B202,4417206,17201506,NaN,1.0,NaN,1
3,B202,4417206,16964906,NaN,1.0,NaN,1
4,B202,4417206,16964806,NaN,1.0,NaN,1
...,...,...,...,...,...,...,...
280627,B211,6813906,17891606,NaN,NaN,NaN,1
280628,B211,6813906,19158306,NaN,NaN,NaN,1
280629,B211,6813906,19157106,NaN,NaN,NaN,1
280630,B211,6813906,17892406,NaN,NaN,NaN,1
280631,B211,6813906,18529506,NaN,NaN,NaN,1

### predmet_dim

In [17]:
predmet_dim

,predmet_id,kod_predmetu,nazev_predmetu,pocet_kreditu,typ_predmetu,forma_studia,uroven_studia,zpusob_zakonceni,jazyk_vyuky
0,1383306,BI-ZTK,Tělovýchovný kurz zimní,0.0,P,P,B,Z,CS
1,1383406,BI-LTK,Tělovýchovný kurz letní,0.0,P,P,B,Z,CS
2,1451306,BI-LTK2,Tělovýchovný kurz letní II,0.0,V,P,B,Z,CS
3,1451406,BI-ZTK2,Tělovýchovný kurz zimní II,0.0,V,P,B,Z,CS
4,1451706,BI-TV4,Tělesná výchova IV,0.0,V,P,B,Z,CS
...,...,...,...,...,...,...,...,...,...
1182,6703306,BI-HWB.21,Hardwarová bezpečnost,5.0,PO;,P,B;,"Z,ZK",CS
1183,3459606,BI-HWB,Hardwarová bezpečnost,5.0,PO;,P,B;,"Z,ZK",CS
1184,6624806,NIE-SBF,System Security and Forensics,5.0,PO;,P,M;,"Z,ZK",EN
1185,6559906,BIK-ZSB.21,Základy systémové bezpečnosti,5.0,PO;,K,B;,"Z,ZK",CS
1186,6813906,NIE-BLO,Blockchain,5.0,V;,P,M;,"Z,ZK",EN

In [18]:
predmet_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1187 entries, 0 to 1186
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   predmet_id        1187 non-null   int64
 1   kod_predmetu      1187 non-null   object
 2   nazev_predmetu    1187 non-null   object
 3   pocet_kreditu     1181 non-null   float64
 4   typ_predmetu      1133 non-null   object
 5   forma_studia      1007 non-null   object
 6   uroven_studia     1144 non-null   object
 7   zpusob_zakonceni  1187 non-null   object
 8   jazyk_vyuky       1038 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 83.6+ KB

In [19]:
predmet_dim_n = predmet_dim.copy(deep=True)

In [20]:
for i in predmet_dim_n.index:
    print(predmet_dim_n.at[i, 'typ_predmetu'])

P
P
V
V
V
P;
V
V
PV;
P;
P
P
P;
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
N
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
V;
P
P
P
P
P
V;
P;
P
P
P
P
P;
P;
P
P
P;
P;
P
P;
PO
V
PO;PZ;
O;
V
V;
V;
V
V
P
P
V;
V;
V;
V;
V
V
PO
V
PO
PO
PO
V;
PO
V;
V;
V;
V;
V
P
PO
PO
PV;
V;
V;
V;
PO;
PO
V;
PO
P
V
PV;
nan
V;
V
PO
nan
D
D
PO
PO
P
P
P
P
PO
P
PO
PO
PO
P
PO
PO
PO;
V;
V;
V;
nan
V;
V;
nan
nan
PO;
PO
PO
PO
PO
PV;
PO
PO
V;
PO
PO;V;
PO
V;
PO
P
PO
PV;V;
PV;
V;
PV;
PO
PO
V;
PO
PO
PO
PO;V;
PO
PO
V
PO
PO
P
PO
PO
PO
PO
P
PO;
PO;
PO
PO
nan
V;
V;
V;
V;
V;
V;
V;
P
PV;
V
PV
V;
V
V;
P;
V
V;
P
PZ
PO
V
V;
PO
PO
PO
V;
PO
PO
PO;
PO
V
PO
V
V
PV;
P
nan
V;
V;
V;
PO
V
PO;
V;
PO
V;
PO
V
PO;
PV;
PO
PV;V;
P
PO
PV
PO;
P;
PO
P
PO;
PO
PO;V;
PO
PO;
V;
P
PO
PO
P
PO
PO
PO
PV
PO
PZ;V;
V;
P
PO
PO
PO
PO
PO
PO
PO
V
PO
PV;V;
PO
P
PO
PO
PV;
V
PO
V;
V;
PZ
V;
V
P;
PO;
V;
V
P;
V
V
PO;
V;
V;
PO
V
V;
PO
V;
V;
PO
PO
PO
P
PV;
V;
PV;
PO;V;
PV;PZ;
PO
PV;V;
PV;
PV;V;
PV;
PZ
PO
PO;
PO
PO
PV;V;
PO
V;
V;
PO;V;
P;
PZ
PO;
V;
PO
V;
V
V;
V;
PO
P;
V;
PO;
V;
V;
V;
nan
PO;
PO
V;
PO
V;
PO
PZ;
PZ;
P
V;
PZ;V;
V;
V
PV;
V;
V;
PO;PZ;V;
V;
PO;
V;
PO
PO
PV;
PO;
PV;V;
PO;
PO
PO;
V
PO
PO;V;
PO;
PO
PO;
PO;
PO
PO;V;
PO;
PO;
PO;
PO;
PO;
PO;
P;PO;
PO;
PO;
PV;
PZ
PO;
PO;
PO;
PO;
PO;V;
PO;
PO;
PO;
PO;
P
PO;
PO;
P
PV;V;
PO;
PO;
PO;
PO;
PV;V;
PO
PO;
PO
PO;
PO;V;
PO;
PO;
PO;
PO;
PO
PO
PO
PO;PV;
PO;
PO;
PO;
PO;
PO
PO;
PO;PV;
PO
V;
PO
P
V;
PV;V;
PO
PO
PZ;
PO;
P
PV
PO
P;
P
PO
PO;PV;
PO;
P;
PV
PO;V;
PO;
P;
PO;
PO
V
PO;
P
PO;
P
V;
P;
V
P
V;
PO
PZ;
PO;
PV
PO;
V;
V;
PO
V;
V;
V
PZ;
V;
PO;PZ;
V;
PO;PV;
PO;
PV;V;
PO;
P;
P;
V
P
V
PO;
P;
V
PV;V;
PO;
P
P
PO;
V;
V;
V;
V;
V;
V;
V;
V;
V;
PO;V;
P;
V
P
PO
PO
V;
V;
V;
P
P
P
V;
PV;
V;
V;
V;
PO;
V;
PO
V;
P
PO
P
V;
PO
V;
PV;V;
PO;
V
PO
PZ
PO
P
PO
PO
V;
V;
V;
V;
V;
V;
PZ;V;
V;
V;
V;
P
PO
V;
PO
PV;
V;
PO
V;
P
V;
V;
PO;
V;
V;
PO;V;
P;
PO;
PO;
PO;
PO;V;
PO;
P;
P
V;
V;
PO
V;
PO;
PV;
PO;V;
PO;PV;
PO;PV;
P
PO;PV;
P
P
PO;
P;
P
V;
PV;
PO;
PO
V;
PO;V;
PO;
PO;V;
PO;V;
P;
P;
P;
P
P
P
P
P
P
P;
P;
P;
PO;
V;
P
P
P
V;
P;
P;
PO;
V;
P;
PO;
P
V;
V;
V;
PV;
P
P;
P;
PO;
PO
V;
P;
PO
V;
nan
V;
V;
nan
PO
PO
PO
PO
PO
PO
PO
PO
PO
nan
nan
nan
nan
P;
V;
V;
PO
PO
P
V;
PO
PO
V;
P;
PO
PO
V;
PO
P
V;
PO
P;
PO
V;
V;
V;
V;
V;
V;
V;
V;
V;
V;
PO
PO
V;
PO
P
PO
P
P
PO
V;
P
PO
PO
PO
PO
V;
P
PO
PO
PO
PO
PO
PO
P
PO
PO
PO
PO
PO
PO
PO
V;
P
PO
PO
PO
PO
P
PO
PO
P
PO
PO
V;
PO
V;
PO
V;
PO
V;
V;
P
PO
PO
PO;
PO
P
V;
P
V;
P;
P
V;
V
V
PO;
PO
PO
V
PO
PO;
PO
PO
PO
PO;
P
P
P;
P;
PO;
PO;
P
V;
P
PO;
V;
PO;
V;
PO
P;
P;
PO;
V;
PO;V;
V;
P;
V;
P;
PO;V;
PO;
PO;V;
PO
PO
P
PO;
PO
PO;
nan
P
P
PO;
V;
P
PO
PZ;
PO
PO
PO
V;
V;
V;
P;V;
P
V;
V;
P;V;
V;
V;
PO
PO
PO
PO
PO
PO
PO
PO
PO
V
nan
PO
nan
PO
PO
V
nan
P;
PO;PZ;
V
V;
P
PO
PO
P
P
PO
P
P
PO;
PO;
V;
PO
PO;
P
V;
V;
PO
PO
PO
PO
PO
PO
PO
PO
PO
PO
PO
V;
PO
V;
V;
PO
P
PO
V;
PO
P;
PO
V;
PO
PO;
V;
P
PO
PO
V;
V;
V;
V;
PO;
P
V;
V;
V;
PO;
V
V
PO;
PO
PO;
PO;V;
PO
PO;V;
PO;V;
PO
PO;
PO;
PO
PO
P;
PO
PO
P
PO;
P
PO;
PO;V;
P;
P;
PO;
PO;V;
PO;
V;
PO
V;
V;
V;
PO
PO
P;
PO;V;
PO
PO
V;
PO
PO
PO
PO
PO
PO
PO
PO
P;
PO;
V;
V;
V;
PO
V;
PO
P;
PO
P
P
PO
P
P
P
nan
P
P
PO
PO
PO
PO
P
PO
PO
PO
P
V
P;
nan
PO
V;
PO
V;
PO
PO
PO
V;
PO
V;
V;
PO
V;
V
PO
PO;
PO
V;
PO
P
V
P
P
V
PO
V;
PO
PO
PO
PO;
V
PO;
P
P
V;
PO
V;
V;
PO
PO
PZ
PO
PO
V;
PO;
PO
V;
PO
PO
P
PO
V;
V
PZ
PO;
V
V;
PO;
P
V;
V;
nan
V;
P
P
P
PO
V;
PO;
PO;
PO;
PO
PO
PO;
PO;
PO;
PO;
PO;
P
PO;
PO;
PO;
P
PO;
P
P
P
PO;
PO;
P
V;
nan
PO
P;
P;
P
PO;
PO;
PO;
P
PO;V;
P;
PO;V;
P
PO;
PO;V;
P
PO;V;
PO;V;
PO;
PO;
PO;
PO;V;
PO
P
PO;V;
PO;V;
PO;V;
PO;V;
PO;V;
PO;V;
PO;V;
PO;
P
PO
PO
PO
PO
PO;
P;
PO
PO;
PO;
V;
PO;
V;
PO
PO
PO
PO
PO
P;
V;
PO;V;
PO
PO
PO;
PO;
P
P
PO
P
PO
PO
PO;
PO;V;
V;
P;
PO
P
PO
P
P
PO
P
PO
PO
V;
PO;V;
PO
PO;
PO;
PO
PO;
P
PO;V;
P
PO
PO;
PO;
PO;
V
P;
PO;V;
P;V;
P;
PO;V;
V;
PO;
PO;
PO;
PO;V;
PO;
PO;
PO
PO;PV;
P
P;
P
PO;
PO;
P
PO
P
PO;V;
PO;
PO;
PO;
PZ;
PO;
PZ;
PO;PV;
PO;PV;
PO;PV;
PO;PV;
PO;
PZ;
PO;
PO;V
PO;
PO;
PO;
PO;
PO;
V;

In [21]:
predmet_dim[predmet_dim['typ_predmetu'] != 'V;']

,predmet_id,kod_predmetu,nazev_predmetu,pocet_kreditu,typ_predmetu,forma_studia,uroven_studia,zpusob_zakonceni,jazyk_vyuky
0,1383306,BI-ZTK,Tělovýchovný kurz zimní,0.0,P,P,B,Z,CS
1,1383406,BI-LTK,Tělovýchovný kurz letní,0.0,P,P,B,Z,CS
2,1451306,BI-LTK2,Tělovýchovný kurz letní II,0.0,V,P,B,Z,CS
3,1451406,BI-ZTK2,Tělovýchovný kurz zimní II,0.0,V,P,B,Z,CS
4,1451706,BI-TV4,Tělesná výchova IV,0.0,V,P,B,Z,CS
...,...,...,...,...,...,...,...,...,...
1181,6560006,BIE-ZSB.21,Basics of System Security,5.0,PO;,P,B;,"Z,ZK",EN
1182,6703306,BI-HWB.21,Hardwarová bezpečnost,5.0,PO;,P,B;,"Z,ZK",CS
1183,3459606,BI-HWB,Hardwarová bezpečnost,5.0,PO;,P,B;,"Z,ZK",CS
1184,6624806,NIE-SBF,System Security and Forensics,5.0,PO;,P,M;,"Z,ZK",EN
1185,6559906,BIK-ZSB.21,Základy systémové bezpečnosti,5.0,PO;,K,B;,"Z,ZK",CS

### prace_fact

In [22]:
prace_fact

,studium_id,zaverecna_prace_id,cislo_terminu,vedouci_jmeno,navrh_znamky_vedouci,oponent_jmeno,navrh_znamky_oponent,datum_obhajoby,zaverecna_prace_hodnoceni,nazev_cs,nazev_en,typ_prace,jazyk_prace
0,11744406,1027848193105,2,"Ing. Michal Valenta, Ph.D.",1.5,"Ing. Josef Gattermayer, Ph.D.",2.0,2019-08-29,2.0,Možnosti komerčního využití technologie blockc...,Possibilities of Commercial Use of Blockchain ...,B,CS
1,8325706,610258843505,1,Ing. Jiří Hunka,1.0,"Ing. Michal Valenta, Ph.D.",1.0,2016-02-16,1.0,Mojeskolka.info - tvorba uzavřené komunitní sí...,Mojeskolka.info - design and creation of an in...,M,CS
2,13519106,996867794205,1,Ing. Pavel Štěpán,1.0,"doc. Ing. Mgr. Petr Klán, CSc.",1.0,2019-06-25,1.0,Webová aplikace na tvorbu a správu seznamů def...,Web application for creating and managing list...,B,CS
3,12978706,1003137261105,1,Ing. Marek Suchánek,1.0,"Ing. Michal Valenta, Ph.D.",1.0,2020-02-04,1.0,Informační systém pro správu studijních projektů,Study Project Management Information System,B,CS
4,6931306,712263858505,1,Ing. Jiří Chludil,1.0,"Ing. Radek Richtr, Ph.D.",1.0,2016-06-28,1.0,Aplikace pro porovnávání algoritmů počítačovéh...,Application for comparing computer vision algo...,B,CS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2478,14297206,1131094887505,1,"Ing. Jiří Buček, Ph.D.",1.0,"prof. Ing. Róbert Lórencz, CSc.",1.0,2020-06-16,1.0,Multivariační kryptografie,Multivariate cryptography,M,EN
2479,15643006,1132603216505,1,Ing. Josef Kokeš,1.0,"Ing. Tomáš Čejka, Ph.D.",1.5,2020-06-17,1.0,Fingerprinting prohlížeče - techniky a obrana,Browser fingerprinting - techniques and counte...,M,CS
2480,14315106,1133509011405,1,"Ing. Jiří Dostál, Ph.D.",1.0,"Ing. Jiří Buček, Ph.D.",1.5,2020-09-01,1.0,Bezpečnost IoT zařízení na platformě ESP32,Security of IoT Devices Based on ESP32,M,EN
2481,14306006,1133509171605,1,"Ing. Jiří Dostál, Ph.D.",1.0,"Ing. Jiří Buček, Ph.D.",1.0,2020-06-16,1.0,Analýza zabezpečení systémů bezklíčového vstupu,Remote Keyless Entry Systems Security Analysis,M,EN
2482,15632206,1164906489905,1,"Ing. Jiří Dostál, Ph.D.",1.0,"Ing. Alexandru Moucha, Ph.D.",1.5,2020-06-17,1.0,Analýza bezpečnosti vnitřní sítě vozu Tesla Mo...,Tesla Model 3 Internal Network Security Analysis,M,EN

In [23]:
prace_fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483 entries, 0 to 2482
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   studium_id                 2483 non-null   int64
 1   zaverecna_prace_id         2483 non-null   int64
 2   cislo_terminu              2483 non-null   int64
 3   vedouci_jmeno              2243 non-null   object
 4   navrh_znamky_vedouci       2483 non-null   float64
 5   oponent_jmeno              2255 non-null   object
 6   navrh_znamky_oponent       2483 non-null   float64
 7   datum_obhajoby             2460 non-null   object
 8   zaverecna_prace_hodnoceni  2460 non-null   float64
 9   nazev_cs                   2483 non-null   object
 10  nazev_en                   2483 non-null   object
 11  typ_prace                  2483 non-null   object
 12  jazyk_prace                2477 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 252.3+ KB

In [24]:
prace_fact_o = prace_fact.copy(deep=True)
prace_fact = prace_fact.drop(columns=['nazev_cs', 'nazev_en'])

In [25]:
prace_fact

,studium_id,zaverecna_prace_id,cislo_terminu,vedouci_jmeno,navrh_znamky_vedouci,oponent_jmeno,navrh_znamky_oponent,datum_obhajoby,zaverecna_prace_hodnoceni,typ_prace,jazyk_prace
0,11744406,1027848193105,2,"Ing. Michal Valenta, Ph.D.",1.5,"Ing. Josef Gattermayer, Ph.D.",2.0,2019-08-29,2.0,B,CS
1,8325706,610258843505,1,Ing. Jiří Hunka,1.0,"Ing. Michal Valenta, Ph.D.",1.0,2016-02-16,1.0,M,CS
2,13519106,996867794205,1,Ing. Pavel Štěpán,1.0,"doc. Ing. Mgr. Petr Klán, CSc.",1.0,2019-06-25,1.0,B,CS
3,12978706,1003137261105,1,Ing. Marek Suchánek,1.0,"Ing. Michal Valenta, Ph.D.",1.0,2020-02-04,1.0,B,CS
4,6931306,712263858505,1,Ing. Jiří Chludil,1.0,"Ing. Radek Richtr, Ph.D.",1.0,2016-06-28,1.0,B,CS
...,...,...,...,...,...,...,...,...,...,...,...
2478,14297206,1131094887505,1,"Ing. Jiří Buček, Ph.D.",1.0,"prof. Ing. Róbert Lórencz, CSc.",1.0,2020-06-16,1.0,M,EN
2479,15643006,1132603216505,1,Ing. Josef Kokeš,1.0,"Ing. Tomáš Čejka, Ph.D.",1.5,2020-06-17,1.0,M,CS
2480,14315106,1133509011405,1,"Ing. Jiří Dostál, Ph.D.",1.0,"Ing. Jiří Buček, Ph.D.",1.5,2020-09-01,1.0,M,EN
2481,14306006,1133509171605,1,"Ing. Jiří Dostál, Ph.D.",1.0,"Ing. Jiří Buček, Ph.D.",1.0,2020-06-16,1.0,M,EN
2482,15632206,1164906489905,1,"Ing. Jiří Dostál, Ph.D.",1.0,"Ing. Alexandru Moucha, Ph.D.",1.5,2020-06-17,1.0,M,EN

### szzk_dim

In [26]:
szzk_dim

,statni_zkouska_id,zaverecna_prace_id,studium_id,cislo_terminu,typ_szzk,uzavreno,datum_prihlaseni,datum_absolvovani,celkove_hodnoceni,poznamka
0,349636284905,3.496363e+11,1565606,1,SZZ,NaN,NaN,2012-08-30,1.5,NaN
1,330048724605,3.300464e+11,1565706,1,SZZ,NaN,NaN,2012-06-22,2.0,NaN
2,438372649605,4.383726e+11,1565806,1,SZZ,NaN,NaN,NaN,NaN,NaN
3,422187805805,4.221878e+11,1565906,1,SZZ,NaN,NaN,NaN,NaN,NaN
4,426401270005,4.264013e+11,1566506,1,SZZ,NaN,NaN,2013-06-20,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...
13547,1241021541305,NaN,19952706,1,SZZ,NaN,NaN,NaN,NaN,NaN
13548,1241026211005,NaN,19954506,1,SZZ,NaN,NaN,NaN,NaN,NaN
13549,1241030653805,NaN,19958506,1,SZZ,NaN,NaN,NaN,NaN,NaN
13550,1241030797405,NaN,19958706,1,SZZ,NaN,NaN,NaN,NaN,NaN
13551,1241031053305,NaN,19960506,1,SZZ,NaN,NaN,NaN,NaN,NaN

In [27]:
szzk_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13552 entries, 0 to 13551
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   statni_zkouska_id   13552 non-null  int64
 1   zaverecna_prace_id  4257 non-null   float64
 2   studium_id          13552 non-null  int64
 3   cislo_terminu       13552 non-null  int64
 4   typ_szzk            13552 non-null  object
 5   uzavreno            889 non-null    object
 6   datum_prihlaseni    2818 non-null   object
 7   datum_absolvovani   1953 non-null   object
 8   celkove_hodnoceni   3792 non-null   float64
 9   poznamka            9 non-null      object
dtypes: float64(2), int64(3), object(5)
memory usage: 1.0+ MB

### student_dim

In [28]:
student_dim

,studium_id,peridno,pohlavi_kod,datum_narozeni,misto_narozeni,statni_prislusnost_nazev,stat_narozeni_nazev,typ_adresy,kod_obce,kod_okresu,kod_zeme,psc
0,1578106,1056306,M,1990-05-18,Kajrakkum,Tádžikistán,Tádžikistán,T,NaN,NaN,762,735752
1,3124406,1136106,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,T,NaN,NaN,703,NaN
2,1584806,1136106,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,T,NaN,NaN,703,NaN
3,6928706,1232506,M,1989-07-06,Tábor,Česko,Česko,T,554782.0,3100.0,203,15200
4,8852606,1232506,M,1989-07-06,Tábor,Česko,Česko,T,554782.0,3100.0,203,15200
...,...,...,...,...,...,...,...,...,...,...,...,...
16426,15167206,8106110089,M,1981-06-11,Praha,Česko,Česko,T,554782.0,3100.0,203,19800
16427,3738406,8108050192,M,1981-08-05,Praha,Česko,Česko,T,554782.0,3100.0,203,14900
16428,8387506,8108050192,M,1981-08-05,Praha,Česko,Česko,T,554782.0,3100.0,203,14900
16429,4750506,8112050419,M,1981-12-05,Praha,Česko,NaN,T,554782.0,3100.0,203,18100
16430,1577906,8202072307,M,1982-02-07,Planá u Mariánských Lázní,Česko,NaN,T,565555.0,3506.0,203,41301

In [29]:
student_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16431 entries, 0 to 16430
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   studium_id                16431 non-null  int64
 1   peridno                   16431 non-null  int64
 2   pohlavi_kod               16163 non-null  object
 3   datum_narozeni            16258 non-null  object
 4   misto_narozeni            16044 non-null  object
 5   statni_prislusnost_nazev  16246 non-null  object
 6   stat_narozeni_nazev       13195 non-null  object
 7   typ_adresy                16431 non-null  object
 8   kod_obce                  12242 non-null  float64
 9   kod_okresu                12506 non-null  float64
 10  kod_zeme                  16431 non-null  int64
 11  psc                       12597 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 1.5+ MB

In [30]:
student_dim_o = student_dim.copy(deep=True)
student_dim = student_dim.drop(columns=['typ_adresy'])

In [31]:
student_dim

,studium_id,peridno,pohlavi_kod,datum_narozeni,misto_narozeni,statni_prislusnost_nazev,stat_narozeni_nazev,kod_obce,kod_okresu,kod_zeme,psc
0,1578106,1056306,M,1990-05-18,Kajrakkum,Tádžikistán,Tádžikistán,NaN,NaN,762,735752
1,3124406,1136106,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,NaN,NaN,703,NaN
2,1584806,1136106,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,NaN,NaN,703,NaN
3,6928706,1232506,M,1989-07-06,Tábor,Česko,Česko,554782.0,3100.0,203,15200
4,8852606,1232506,M,1989-07-06,Tábor,Česko,Česko,554782.0,3100.0,203,15200
...,...,...,...,...,...,...,...,...,...,...,...
16426,15167206,8106110089,M,1981-06-11,Praha,Česko,Česko,554782.0,3100.0,203,19800
16427,3738406,8108050192,M,1981-08-05,Praha,Česko,Česko,554782.0,3100.0,203,14900
16428,8387506,8108050192,M,1981-08-05,Praha,Česko,Česko,554782.0,3100.0,203,14900
16429,4750506,8112050419,M,1981-12-05,Praha,Česko,NaN,554782.0,3100.0,203,18100
16430,1577906,8202072307,M,1982-02-07,Planá u Mariánských Lázní,Česko,NaN,565555.0,3506.0,203,41301

### studium_dim

In [32]:
studium_dim

,studium_id,typ_programu,forma_studia,datum_zahajeni,datum_ukonceni,rocnik,studijni_stav,studuje,zamereni_id,fakulta_id,nazev_fakulty,jazyk_vyuky,ukonceni_zpusob,platby_stav,pruchod,rok_maturity,odkud_skola_kod
0,18943906,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,10,Fakulta informačních technologií,NaN,NaN,NaN,NaN,NaN,NaN
1,18943806,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,10,Fakulta informačních technologií,NaN,NaN,NaN,NaN,NaN,NaN
2,18943706,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,10,Fakulta informačních technologií,NaN,NaN,NaN,NaN,NaN,NaN
3,18943406,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,10,Fakulta informačních technologií,NaN,NaN,NaN,NaN,2013-01-01,NaN
4,18944306,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,10,Fakulta informačních technologií,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16449,19351406,B,P,2021-08-23,NaN,1.0,1,S,NaN,10,Fakulta informačních technologií,CS,NaN,NaN,NaN,2021-01-01,49625446.0
16450,19351006,B,P,2021-08-23,NaN,1.0,1,S,NaN,10,Fakulta informačních technologií,CS,NaN,NaN,NaN,2021-01-01,600004856.0
16451,19350506,B,P,2021-08-23,NaN,1.0,1,S,NaN,10,Fakulta informačních technologií,CS,NaN,NaN,NaN,2021-01-01,335479.0
16452,19350006,B,P,2021-08-23,NaN,1.0,1,S,NaN,10,Fakulta informačních technologií,CS,NaN,NaN,NaN,2021-01-01,102789207.0
16453,19138806,B,K,2021-07-01,NaN,1.0,1,S,NaN,10,Fakulta informačních technologií,CS,NaN,NaN,NaN,2017-01-01,600170039.0

In [33]:
studium_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16454 entries, 0 to 16453
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   studium_id       16454 non-null  int64
 1   typ_programu     16454 non-null  object
 2   forma_studia     13883 non-null  object
 3   datum_zahajeni   16454 non-null  object
 4   datum_ukonceni   13754 non-null  object
 5   rocnik           16441 non-null  float64
 6   studijni_stav    16454 non-null  object
 7   studuje          16454 non-null  object
 8   zamereni_id      4 non-null      float64
 9   fakulta_id       16454 non-null  int64
 10  nazev_fakulty    16454 non-null  object
 11  jazyk_vyuky      15913 non-null  object
 12  ukonceni_zpusob  13640 non-null  float64
 13  platby_stav      8771 non-null   float64
 14  pruchod          461 non-null    float64
 15  rok_maturity     11805 non-null  object
 16  odkud_skola_kod  10959 non-null  float64
dtypes: float64(6), int64(2), object(9)
memory usage: 2.1+ MB

In [34]:
studium_dim.dropna(subset=['zamereni_id'])

,studium_id,typ_programu,forma_studia,datum_zahajeni,datum_ukonceni,rocnik,studijni_stav,studuje,zamereni_id,fakulta_id,nazev_fakulty,jazyk_vyuky,ukonceni_zpusob,platby_stav,pruchod,rok_maturity,odkud_skola_kod
3084,13029106,N,P,2016-07-01,2019-02-06,3.0,16,K,5.198443e+11,10,Fakulta informačních technologií,CS,1.0,0.0,NaN,NaN,NaN
3573,9982206,N,P,2014-09-12,2016-06-13,2.0,16,K,5.198443e+11,10,Fakulta informačních technologií,CS,1.0,0.0,NaN,NaN,NaN
4273,8373806,N,P,2013-09-16,2015-10-22,3.0,7,K,5.198443e+11,10,Fakulta informačních technologií,CS,3.0,0.0,NaN,NaN,NaN
4434,6810406,N,P,2012-09-04,2015-06-11,3.0,16,K,5.198443e+11,10,Fakulta informačních technologií,CS,1.0,0.0,NaN,NaN,NaN

In [35]:
studium_dim['pruchod'].nunique()

41

In [36]:
studium_dim_o = studium_dim.copy(deep=True)
studium_dim = studium_dim.drop(columns=['zamereni_id', 'nazev_fakulty', 'fakulta_id', ])

In [37]:
studium_dim

,studium_id,typ_programu,forma_studia,datum_zahajeni,datum_ukonceni,rocnik,studijni_stav,studuje,jazyk_vyuky,ukonceni_zpusob,platby_stav,pruchod,rok_maturity,odkud_skola_kod
0,18943906,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,NaN,NaN,NaN,NaN,NaN
1,18943806,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,NaN,NaN,NaN,NaN,NaN
2,18943706,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,NaN,NaN,NaN,NaN,NaN
3,18943406,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,NaN,NaN,NaN,2013-01-01,NaN
4,18944306,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16449,19351406,B,P,2021-08-23,NaN,1.0,1,S,CS,NaN,NaN,NaN,2021-01-01,49625446.0
16450,19351006,B,P,2021-08-23,NaN,1.0,1,S,CS,NaN,NaN,NaN,2021-01-01,600004856.0
16451,19350506,B,P,2021-08-23,NaN,1.0,1,S,CS,NaN,NaN,NaN,2021-01-01,335479.0
16452,19350006,B,P,2021-08-23,NaN,1.0,1,S,CS,NaN,NaN,NaN,2021-01-01,102789207.0
16453,19138806,B,K,2021-07-01,NaN,1.0,1,S,CS,NaN,NaN,NaN,2017-01-01,600170039.0

### semestr_dim

In [38]:
semestr_dim

   semestr_id      oznaceni_cs
0        A000  Uznané předměty
1        B012  Letní 2001/2002
2        A001  Uznané - 1.sem.
3        A002  Uznané - 2.sem.
4        A003  Uznané - 3.sem.
..        ...              ...
86       B202  Letní 2020/2021
87       B192  Letní 2019/2020
88       B061  Zimní 2006/2007
89       B212  Letní 2021/2022
90       B211  Zimní 2021/2022

[91 rows x 2 columns]

### hodnoceni_dim

In [39]:
hodnoceni_dim

      statni_zkouska_id  cislo_terminu  predmet_cislo       datum  hodnoceni
0          244063669505              1              1         NaN        NaN
1          244063720505              1              1         NaN        NaN
2          246871338705              1              1         NaN        NaN
3          246873049205              1              1         NaN        NaN
4          246873920305              1              1         NaN        NaN
...                 ...            ...            ...         ...        ...
4970      1183193996005              2              1  2020-06-23        3.0
4971      1183193996105              2              1  2020-06-23        4.0
4972      1183505661805              2              1  2020-09-07        2.0
4973      1183816699405              2              1  2020-06-25        4.0
4974      1183816699505              2              1  2020-06-25        2.5

[4975 rows x 5 columns]

In [40]:
hodnoceni_dim['predmet_cislo'].nunique()

1

In [41]:
hodnoceni_dim_o = hodnoceni_dim.copy(deep=True)
hodnoceni_dim = hodnoceni_dim.drop(columns=['predmet_cislo'])

In [42]:
hodnoceni_dim

      statni_zkouska_id  cislo_terminu       datum  hodnoceni
0          244063669505              1         NaN        NaN
1          244063720505              1         NaN        NaN
2          246871338705              1         NaN        NaN
3          246873049205              1         NaN        NaN
4          246873920305              1         NaN        NaN
...                 ...            ...         ...        ...
4970      1183193996005              2  2020-06-23        3.0
4971      1183193996105              2  2020-06-23        4.0
4972      1183505661805              2  2020-09-07        2.0
4973      1183816699405              2  2020-06-25        4.0
4974      1183816699505              2  2020-06-25        2.5

[4975 rows x 4 columns]

# Spojovani datasetu

### predmet_klasifikace

In [43]:
predmet_klasifikace = predmet_dim.merge(klasifikace_fact, how='outer', on='predmet_id')

In [44]:
predmet_klasifikace

,predmet_id,kod_predmetu,nazev_predmetu,pocet_kreditu,typ_predmetu,forma_studia,uroven_studia,zpusob_zakonceni,jazyk_vyuky,semestr_id,studium_id,zapocteno,zakonceno,znamka,poradi_zapisu
0,1383306,BI-ZTK,Tělovýchovný kurz zimní,0.0,P,P,B,Z,CS,NaN,NaN,NaN,NaN,NaN,NaN
1,1383406,BI-LTK,Tělovýchovný kurz letní,0.0,P,P,B,Z,CS,NaN,NaN,NaN,NaN,NaN,NaN
2,1451306,BI-LTK2,Tělovýchovný kurz letní II,0.0,V,P,B,Z,CS,NaN,NaN,NaN,NaN,NaN,NaN
3,1451406,BI-ZTK2,Tělovýchovný kurz zimní II,0.0,V,P,B,Z,CS,NaN,NaN,NaN,NaN,NaN,NaN
4,1451706,BI-TV4,Tělesná výchova IV,0.0,V,P,B,Z,CS,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280991,6813906,NIE-BLO,Blockchain,5.0,V;,P,M;,"Z,ZK",EN,B211,17891606.0,NaN,NaN,NaN,1.0
280992,6813906,NIE-BLO,Blockchain,5.0,V;,P,M;,"Z,ZK",EN,B211,19158306.0,NaN,NaN,NaN,1.0
280993,6813906,NIE-BLO,Blockchain,5.0,V;,P,M;,"Z,ZK",EN,B211,19157106.0,NaN,NaN,NaN,1.0
280994,6813906,NIE-BLO,Blockchain,5.0,V;,P,M;,"Z,ZK",EN,B211,17892406.0,NaN,NaN,NaN,1.0
280995,6813906,NIE-BLO,Blockchain,5.0,V;,P,M;,"Z,ZK",EN,B211,18529506.0,NaN,NaN,NaN,1.0

### student_prihlaska_studium

#### student_prihlaska

oproti zaznamech o studenetu (cca 16.5 tisic) je zaznamu o prihlaskach (cca 3.5 tisic) o hodne mene

In [45]:
student_prihlaska = student_dim.merge(prihlaska_dim, how='outer', on='studium_id')

In [46]:
student_prihlaska

,studium_id,peridno,pohlavi_kod,datum_narozeni,misto_narozeni,statni_prislusnost_nazev,stat_narozeni_nazev,kod_obce,kod_okresu,kod_zeme,psc_x,cislo_prihlasky,odkud_uchazec_prihlasen_kod,prihlaska_kod,rozhodnuti_kod,obor_ss_kod,ss_izo,ss_typ,predchozi_studium,maturita_rok,hodnoceni_pz,trvaly_pobyt_v_cr,financovani,stupen_predchoziho_vzdelani,cislo_uchazece,scio_test,olympiady,postizeni_kod,datum_registrace,misto_kod,okres_kod,zeme_kod,psc_y
0,1578106,1056306.0,M,1990-05-18,Kajrakkum,Tádžikistán,Tádžikistán,NaN,NaN,762.0,735752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3124406,1136106.0,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,NaN,NaN,703.0,NaN,35.0,NaN,2.525797e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,K,NaN,NaN,NaN,NaN,2010-02-17,Štúrovo,NaN,NaN,NaN
2,1584806,1136106.0,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,NaN,NaN,703.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6928706,1232506.0,M,1989-07-06,Tábor,Česko,Česko,554782.0,3100.0,203.0,15200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8852606,1232506.0,M,1989-07-06,Tábor,Česko,Česko,554782.0,3100.0,203.0,15200,676.0,NaN,5.959762e+09,13.0,NaN,NaN,NaN,NaN,2009.0,NaN,A,69.0,K,1038961.0,NaN,NaN,NaN,2014-02-21,Praha,3100.0,3100.0,15200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16531,5930106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90038.0,NaN,9.465779e+09,10.0,NaN,NaN,NaN,NaN,NaN,NaN,A,1.0,K,507672.0,NaN,NaN,NaN,2011-12-09,NaN,NaN,NaN,NaN
16532,5930206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90039.0,NaN,2.163120e+09,10.0,NaN,NaN,NaN,NaN,NaN,NaN,A,1.0,K,507683.0,NaN,NaN,NaN,2011-12-09,NaN,NaN,NaN,NaN
16533,5930406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90041.0,NaN,5.304376e+09,10.0,NaN,NaN,NaN,NaN,NaN,NaN,A,1.0,K,507705.0,NaN,NaN,NaN,2011-12-09,NaN,NaN,NaN,NaN
16534,5930506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90042.0,NaN,9.878933e+09,10.0,NaN,NaN,NaN,NaN,NaN,NaN,A,1.0,K,507716.0,NaN,NaN,NaN,2011-12-09,NaN,NaN,NaN,NaN
16535,5930606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90043.0,NaN,6.684682e+09,10.0,NaN,NaN,NaN,NaN,NaN,NaN,A,1.0,K,507727.0,NaN,NaN,NaN,2011-12-09,NaN,NaN,NaN,NaN

In [47]:
student_prihlaska['studium_id'].nunique()

16454

In [48]:
student_dim

,studium_id,peridno,pohlavi_kod,datum_narozeni,misto_narozeni,statni_prislusnost_nazev,stat_narozeni_nazev,kod_obce,kod_okresu,kod_zeme,psc
0,1578106,1056306,M,1990-05-18,Kajrakkum,Tádžikistán,Tádžikistán,NaN,NaN,762,735752
1,3124406,1136106,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,NaN,NaN,703,NaN
2,1584806,1136106,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,NaN,NaN,703,NaN
3,6928706,1232506,M,1989-07-06,Tábor,Česko,Česko,554782.0,3100.0,203,15200
4,8852606,1232506,M,1989-07-06,Tábor,Česko,Česko,554782.0,3100.0,203,15200
...,...,...,...,...,...,...,...,...,...,...,...
16426,15167206,8106110089,M,1981-06-11,Praha,Česko,Česko,554782.0,3100.0,203,19800
16427,3738406,8108050192,M,1981-08-05,Praha,Česko,Česko,554782.0,3100.0,203,14900
16428,8387506,8108050192,M,1981-08-05,Praha,Česko,Česko,554782.0,3100.0,203,14900
16429,4750506,8112050419,M,1981-12-05,Praha,Česko,NaN,554782.0,3100.0,203,18100
16430,1577906,8202072307,M,1982-02-07,Planá u Mariánských Lázní,Česko,NaN,565555.0,3506.0,203,41301

In [49]:
student_dim['studium_id'].nunique()

16425

In [50]:
prihlaska_dim_o

,cislo_prihlasky,odkud_uchazec_prihlasen_kod,prihlaska_kod,studium_id,rozhodnuti_kod,obor_ss_kod,ss_izo,ss_typ,ss_predmet1,ss_predmet2,ss_predmet3,ss_predmet4,ss_predmet5,ss_predmet1_znamky,ss_predmet2_znamky,ss_predmet3_znamky,ss_predmet4_znamky,ss_predmet5_znamky,ss_predmet1_prumer,ss_predmet2_prumer,ss_predmet3_prumer,ss_predmet4_prumer,ss_predmet5_prumer,ss_prumer_prumeru,ss_prumer_znamek,bakalar_prumer,predchozi_studium,doplnujici_udaj1,doplnujici_udaj2,doplnujici_udaj3,doplnujici_udaj4,typ_prihlasky,maturita_znamky,maturita_prumer,maturita_predmety,maturita_rok,cislo_mistnosti_pz,datum_pz,prominuti_pz,hodnoceni_pz,hodnoceni_pz_cast1,hodnoceni_pz_cast2,hodnoceni_pz_cast3,hodnoceni_pz_cast4,hodnoceni_pz_cast5,hodnoceni_pz_cast6,hodnoceni_pz_cast7,hodnoceni_pz_cast8,hodnoceni_pz_cast9,hodnoceni_pz_cast10,hodnoceni_pz_cast11,hodnoceni_pz_cast12,zapsal_ke_studiu,status,stipendium,stipendium_cizi,kolej_zadost,termin,prechodne,studijni_skupina,nove_prijaty,navazujici_stud_program,trvaly_pobyt_v_cr,financovani,stupen_predchoziho_vzdelani,pz1_datum,pz1_cas,pz1_mistnost,pz2_datum,pz2_cas,pz2_mistnost,pz3_datum,pz3_cas,pz3_mistnost,pisemny_test,anketa_odkud_kod,anketa_odkud_poznamka,cislo_uchazece,scio_test,olympiady,postizeni_kod,postizeni_poznamka,placeno_r,placeno_poznamka,placeno_mail,staz_stat,staz_poznamka,maturita_uroven,zajem,zprava_pro_uchazece,priorita,datum_registrace,datum_rozhodnuti,misto_kod,okres_kod,zeme_kod,psc
0,2,NaN,2788685710,1754706,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-09-08,NaN,Česká Lípa,3501.0,3501.0,47001
1,3,NaN,7392860610,1754806,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-09-08,NaN,Doksy,3203.0,3203.0,27364
2,4,NaN,5222013410,1754906,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-09-08,NaN,Husinec,3209.0,3209.0,25068
3,5,NaN,1489038810,1755006,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-09-08,NaN,Mikulášovice,3502.0,3502.0,40779
4,6,NaN,7970815610,1755106,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-09-08,NaN,Ivančice,3703.0,3703.0,66491
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3594,2354,NaN,9774758712,18653606,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,2018.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,69,K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2983607.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-09-24,2020-09-24,Praha,3100.0,3100.0,14900
3595,2355,NaN,1580023012,18668306,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,A,69,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2984674.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-09-29,2020-09-29,Praha,3100.0,3100.0,14300
3596,2829,NaN,4603991912,18683206,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,N,6,K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2924779.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-21,2020-10-02,Prishtina,7777.0,7777.0,NaN
3597,2358,NaN,7430312812,18688006,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,NaN,NaN,N,51,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2986302.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-05,2020-10-05,NaN,NaN,NaN,NaN
3598,2359,NaN,1277700212,18688106,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,2015.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,69,K,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2986313.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-05,2020-10-05,Týnec nad Sázavou,3201.0,3201.0,25741

In [51]:
s = student_prihlaska['studium_id'].value_counts()
student_prihlaska[student_prihlaska.studium_id.isin(s.index[s.gt(1)])]

,studium_id,peridno,pohlavi_kod,datum_narozeni,misto_narozeni,statni_prislusnost_nazev,stat_narozeni_nazev,kod_obce,kod_okresu,kod_zeme,psc_x,cislo_prihlasky,odkud_uchazec_prihlasen_kod,prihlaska_kod,rozhodnuti_kod,obor_ss_kod,ss_izo,ss_typ,predchozi_studium,maturita_rok,hodnoceni_pz,trvaly_pobyt_v_cr,financovani,stupen_predchoziho_vzdelani,cislo_uchazece,scio_test,olympiady,postizeni_kod,datum_registrace,misto_kod,okres_kod,zeme_kod,psc_y
584,8373106,1731506.0,M,1987-09-01,Volgograd,Rusko,Rusko,NaN,7777.0,643.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
585,8373106,1731506.0,M,1987-09-01,Volgograd,Rusko,Rusko,554782.0,3100.0,203.0,16900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
629,6865606,1819006.0,M,1986-11-03,Praha,Česko,Česko,554782.0,3100.0,203.0,12000,55.0,NaN,3.464947e+09,10.0,NaN,NaN,NaN,NaN,NaN,0.0,A,1.0,T,731676.0,NaN,NaN,NaN,2012-08-16,NaN,3100.0,3100.0,12000
630,6865606,1819006.0,M,1986-11-03,Praha,Česko,Česko,554782.0,3100.0,203.0,12000,55.0,NaN,3.464947e+09,10.0,NaN,NaN,NaN,NaN,NaN,0.0,A,1.0,T,731676.0,NaN,NaN,NaN,2012-08-16,NaN,3100.0,3100.0,12000
657,3793406,2005006.0,M,1962-07-18,Praha,Česko,Česko,554782.0,3100.0,203.0,13000,6.0,NaN,1.738414e+09,10.0,NaN,2049082.0,NaN,"ČVUT FEL, Elektrotechnické počítače, MSP",1981.0,NaN,A,1.0,T,NaN,NaN,NaN,NaN,2010-09-01,NaN,3100.0,3100.0,14800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16266,8416406,363823000.0,M,1988-06-13,Ústí nad Labem,Česko,Česko,554804.0,3510.0,203.0,40001,69.0,NaN,3.809933e+09,10.0,NaN,NaN,NaN,FIT ČVUT,NaN,0.0,A,1.0,T,977537.0,NaN,NaN,NaN,2013-06-07,Ústí nad Labem,3510.0,3510.0,40001
16334,2947606,364110000.0,M,1988-11-28,Ústí nad Labem,Česko,Česko,554804.0,3510.0,203.0,40331,30.0,NaN,2.407174e+09,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2009-09-23,Ústí nad Labem,3510.0,3510.0,40331
16335,2947606,364110000.0,M,1988-11-28,Ústí nad Labem,Česko,Česko,554804.0,3510.0,203.0,40331,30.0,NaN,2.407174e+09,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2009-09-23,Ústí nad Labem,3510.0,3510.0,40331
16390,8309606,364596000.0,M,1989-08-19,Praha,Česko,Česko,531464.0,3202.0,203.0,26712,73.0,NaN,5.057489e+09,10.0,NaN,61388866.0,NaN,NaN,2008.0,0.0,A,1.0,T,978010.0,NaN,NaN,NaN,2013-06-10,Loděnice,3202.0,3202.0,26712
16391,8309606,364596000.0,M,1989-08-19,Praha,Česko,Česko,531464.0,3202.0,203.0,26712,73.0,NaN,5.057489e+09,10.0,NaN,61388866.0,NaN,NaN,2008.0,0.0,A,1.0,T,978010.0,NaN,NaN,NaN,2013-06-10,Loděnice,3202.0,3202.0,26712

### student_studium

In [52]:
student_studium = student_dim.merge(studium_dim, how='outer', on='studium_id')

In [53]:
studium_dim

,studium_id,typ_programu,forma_studia,datum_zahajeni,datum_ukonceni,rocnik,studijni_stav,studuje,jazyk_vyuky,ukonceni_zpusob,platby_stav,pruchod,rok_maturity,odkud_skola_kod
0,18943906,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,NaN,NaN,NaN,NaN,NaN
1,18943806,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,NaN,NaN,NaN,NaN,NaN
2,18943706,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,NaN,NaN,NaN,NaN,NaN
3,18943406,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,NaN,NaN,NaN,2013-01-01,NaN
4,18944306,B,NaN,2021-04-21,NaN,0.0,1,S,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16449,19351406,B,P,2021-08-23,NaN,1.0,1,S,CS,NaN,NaN,NaN,2021-01-01,49625446.0
16450,19351006,B,P,2021-08-23,NaN,1.0,1,S,CS,NaN,NaN,NaN,2021-01-01,600004856.0
16451,19350506,B,P,2021-08-23,NaN,1.0,1,S,CS,NaN,NaN,NaN,2021-01-01,335479.0
16452,19350006,B,P,2021-08-23,NaN,1.0,1,S,CS,NaN,NaN,NaN,2021-01-01,102789207.0
16453,19138806,B,K,2021-07-01,NaN,1.0,1,S,CS,NaN,NaN,NaN,2017-01-01,600170039.0

In [54]:
student_studium

,studium_id,peridno,pohlavi_kod,datum_narozeni,misto_narozeni,statni_prislusnost_nazev,stat_narozeni_nazev,kod_obce,kod_okresu,kod_zeme,psc,typ_programu,forma_studia,datum_zahajeni,datum_ukonceni,rocnik,studijni_stav,studuje,jazyk_vyuky,ukonceni_zpusob,platby_stav,pruchod,rok_maturity,odkud_skola_kod
0,1578106,1056306.0,M,1990-05-18,Kajrakkum,Tádžikistán,Tádžikistán,NaN,NaN,762.0,735752,B,P,2009-09-03,2013-06-19,4.0,17,K,CS,1.0,0.0,NaN,2007-01-01,999999999.0
1,3124406,1136106.0,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,NaN,NaN,703.0,NaN,B,NaN,2010-02-17,2010-09-19,1.0,3,K,CS,2.0,0.0,NaN,NaN,NaN
2,1584806,1136106.0,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,NaN,NaN,703.0,NaN,B,P,2009-09-03,2009-11-13,1.0,3,K,CS,2.0,0.0,NaN,2006-01-01,999999999.0
3,6928706,1232506.0,M,1989-07-06,Tábor,Česko,Česko,554782.0,3100.0,203.0,15200,B,K,2012-09-06,2014-02-21,2.0,3,K,CS,2.0,0.0,NaN,2009-01-01,638374.0
4,8852606,1232506.0,M,1989-07-06,Tábor,Česko,Česko,554782.0,3100.0,203.0,15200,B,NaN,2014-02-21,2014-07-02,0.0,38,K,CS,9.0,NaN,NaN,2009-01-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16455,5930206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,2011-09-12,2012-02-23,0.0,38,K,NaN,9.0,0.0,NaN,NaN,NaN
16456,5930106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,2011-09-12,2012-02-23,0.0,38,K,NaN,9.0,0.0,NaN,NaN,NaN
16457,5929806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,2011-09-12,2012-02-23,0.0,38,K,NaN,9.0,0.0,NaN,NaN,NaN
16458,5929706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,2011-09-12,2012-02-23,0.0,38,K,NaN,9.0,0.0,NaN,NaN,NaN
16459,5929606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,2011-09-12,2012-02-23,0.0,38,K,NaN,9.0,0.0,NaN,NaN,NaN

In [55]:
student_dim

,studium_id,peridno,pohlavi_kod,datum_narozeni,misto_narozeni,statni_prislusnost_nazev,stat_narozeni_nazev,kod_obce,kod_okresu,kod_zeme,psc
0,1578106,1056306,M,1990-05-18,Kajrakkum,Tádžikistán,Tádžikistán,NaN,NaN,762,735752
1,3124406,1136106,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,NaN,NaN,703,NaN
2,1584806,1136106,M,1987-03-10,"Štúrovo, Slovenská Republika",Slovensko,NaN,NaN,NaN,703,NaN
3,6928706,1232506,M,1989-07-06,Tábor,Česko,Česko,554782.0,3100.0,203,15200
4,8852606,1232506,M,1989-07-06,Tábor,Česko,Česko,554782.0,3100.0,203,15200
...,...,...,...,...,...,...,...,...,...,...,...
16426,15167206,8106110089,M,1981-06-11,Praha,Česko,Česko,554782.0,3100.0,203,19800
16427,3738406,8108050192,M,1981-08-05,Praha,Česko,Česko,554782.0,3100.0,203,14900
16428,8387506,8108050192,M,1981-08-05,Praha,Česko,Česko,554782.0,3100.0,203,14900
16429,4750506,8112050419,M,1981-12-05,Praha,Česko,NaN,554782.0,3100.0,203,18100
16430,1577906,8202072307,M,1982-02-07,Planá u Mariánských Lázní,Česko,NaN,565555.0,3506.0,203,41301